
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

.materialRadio {
    margin: 16px 0;
}

.materialRadio input[type="radio"] {
    display: none;
}

.materialRadio input[type="radio"]:checked + label:before {
    border-color: #337ab7;
    animation: ripple 0.2s linear forwards;
}

.materialRadio input[type="radio"]:checked + label:after {
    transform: scale(1);
}

.materialRadio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
}

.materialRadio label:before, .materialRadio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
}

.materialRadio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.54);
}

.materialRadio label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #337ab7;
}