.materialCheckbox {
    position: relative;
    margin: 1em;
    text-align: left;
}

.materialCheckbox label {
    cursor: pointer;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
}

.materialCheckbox label:not(:empty) {
    padding-left: 0.75em;
}

.materialCheckbox label:before, .materialCheckbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.materialCheckbox label:before {
    width: 1.25em;
    height: 1.25em;
    background: #f0f0f0;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 0.125em;
    cursor: pointer;
    transition: background 0.3s;
}

.materialCheckbox input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: 1.25em;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;
}

.materialCheckbox input[type="checkbox"]:checked + label:before {
    background: #337ab7;
    border: none;
}

.materialCheckbox input[type="checkbox"]:checked + label:after {
    transform: translate(0.25em, 0.33654em) rotate(-45deg);
    width: 0.75em;
    height: 0.375em;
    border: 0.125em solid #fff;
    border-top-style: none;
    border-right-style: none;
}

.materialCheckbox input[type="checkbox"]:disabled + label:before {
    border-color: rgba(0, 0, 0, 0.26);
}

.materialCheckbox input[type="checkbox"]:disabled:checked + label:before {
    background: rgba(0, 0, 0, 0.26);
}

